<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home Admin</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<h1>Welcome to the Gamified Marketing Application Home Page (ADMIN)</h1>
	<p th:text="${'Nice to see you again ' + session.user.username}"></p>
	<!-- link for create, erase, inspect questionnaire -->
	<div>
		<a th:href="@{/CreateQuestionnaire}">CREATE QUESTIONNAIRE</a>
	</div>
	</br>
	<div>
		<a th:href="@{/DeleteQuestionnaire}">ERASE QUESTIONNAIRE</a>
	</div>
	</br>
	<div>
		<a th:href="@{/InspectionQuestionnaire}">INSPECT QUESTIONNAIRE</a>
	</div>
	
</body>
</html>